# Python
__pycache__/
*.py[cod]
*$py.class
*.env
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints

# Model Weights (Terlalu besar untuk GitHub)
finbert_sentiment_final/
bert_sentiment_ckpt/

# Flutter/Dart (jika ada di dalam folder aplikasi_sentimen)
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
